@import "../node_modules/ng-admin/build/ng-admin.min.css";

* {
    font-family: 'Open Sans', sans-serif;
}

.poster_mini_thumbnail {
    max-width:25px;
    max-height:25px;
}

.navbar-right > li > a {
    padding-top: 15px;
}

.transparent {
    color: transparent;
}

#headericon {
    font-size: 64px;
}
